In [1]:
import numpy as np 
import pandas as pd

#NIFTY 50

In [628]:
nifty_50_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY 50_Historical_PR_01012022to31122024.csv")

nifty_50_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY 50_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_50 = pd.merge(nifty_50_1, nifty_50_2, on = 'Date', how = 'left')

nifty_50.drop('IndexName', axis=1, inplace=True)

from datetime import datetime

# Assuming your dataframe is called 'df' and the date column is named 'date_column'

nifty_50['Date'] = pd.to_datetime(nifty_50['Date'], format="%d %b %Y").dt.strftime("%d/%m/%Y")

In [630]:
nifty_50

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY 50,31/12/2024,23560.60,23689.85,23460.45,23644.80,21.79,3.53,1.27
1,NIFTY 50,30/12/2024,23796.90,23915.35,23599.30,23644.90,21.76,3.52,1.28
2,NIFTY 50,27/12/2024,23801.40,23938.85,23800.60,23813.40,21.92,3.55,1.27
3,NIFTY 50,26/12/2024,23775.80,23854.50,23653.60,23750.20,21.86,3.54,1.27
4,NIFTY 50,24/12/2024,23769.10,23867.65,23685.15,23727.65,21.84,3.54,1.27
...,...,...,...,...,...,...,...,...,...
738,NIFTY 50,07/01/2022,17797.60,17905.00,17704.55,17812.70,24.75,4.49,1.16
739,NIFTY 50,06/01/2022,17768.50,17797.95,17655.55,17745.90,24.66,4.47,1.16
740,NIFTY 50,05/01/2022,17820.10,17944.70,17748.85,17925.25,24.91,4.52,1.15
741,NIFTY 50,04/01/2022,17681.40,17827.60,17593.55,17805.25,24.74,4.49,1.16
742,NIFTY 50,03/01/2022,17387.15,17646.65,17383.30,17625.70,24.49,4.44,1.17

#NIFTY AUTO

In [632]:
nifty_auto_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY AUTO_Historical_PR_01012022to31122024.csv")

nifty_auto_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY AUTO_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_auto = pd.merge(nifty_auto_1, nifty_auto_2, on = 'Date', how = 'inner')

nifty_auto.drop('IndexName', axis=1, inplace=True)

from datetime import datetime

# Assuming your dataframe is called 'df' and the date column is named 'date_column'

nifty_auto['Date'] = pd.to_datetime(nifty_auto['Date'], format="%d %b %Y").dt.strftime("%d/%m/%Y")

In [634]:
nifty_auto

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY AUTO,31/12/2024,22713.60,22899.80,22641.00,22834.00,22.29,4.69,0.98
1,NIFTY AUTO,30/12/2024,23072.25,23100.80,22695.75,22768.25,22.15,4.67,0.99
2,NIFTY AUTO,27/12/2024,22960.60,23461.95,22952.60,23099.05,22.47,4.74,0.97
3,NIFTY AUTO,26/12/2024,22709.85,22947.80,22709.85,22876.10,22.25,4.69,0.98
4,NIFTY AUTO,24/12/2024,22565.45,22810.20,22510.60,22685.55,22.06,4.65,0.99
...,...,...,...,...,...,...,...,...,...
738,NIFTY AUTO,07/01/2022,11341.75,11384.55,11216.25,11290.90,62.68,4.70,1.09
739,NIFTY AUTO,06/01/2022,11186.60,11334.90,11122.05,11316.60,62.82,4.71,1.08
740,NIFTY AUTO,05/01/2022,11133.10,11277.80,11103.20,11256.85,62.49,4.68,1.09
741,NIFTY AUTO,04/01/2022,11165.00,11171.05,11058.25,11139.40,61.84,4.63,1.10
742,NIFTY AUTO,03/01/2022,11001.30,11145.95,10998.35,11114.55,61.70,4.62,1.10

#NIFTY BANK

In [636]:
nifty_bank_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY BANK_Historical_PR_01012022to31122024.csv")

nifty_bank_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY BANK_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_bank = pd.merge(nifty_bank_1, nifty_bank_2, on = 'Date', how = 'inner')

nifty_bank.drop('IndexName', axis=1, inplace=True)

from datetime import datetime

# Assuming your dataframe is called 'df' and the date column is named 'date_column'

nifty_bank['Date'] = pd.to_datetime(nifty_bank['Date'], format="%d %b %Y").dt.strftime("%d/%m/%Y")

In [638]:
nifty_bank

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY BANK,31/12/2024,50648.20,50945.55,50599.80,50860.20,13.68,2.24,0.98
1,NIFTY BANK,30/12/2024,51255.35,51979.75,50718.35,50952.75,13.88,2.28,0.97
2,NIFTY BANK,27/12/2024,51268.20,51628.45,51240.10,51311.30,13.97,2.30,0.97
3,NIFTY BANK,26/12/2024,51395.80,51740.00,50951.80,51170.70,13.94,2.29,0.97
4,NIFTY BANK,24/12/2024,51314.95,51382.10,51137.50,51233.00,13.95,2.30,0.97
...,...,...,...,...,...,...,...,...,...
738,NIFTY BANK,07/01/2022,37667.05,38134.85,37427.80,37739.60,23.75,2.79,0.32
739,NIFTY BANK,06/01/2022,37242.55,37752.50,37058.45,37490.25,23.60,2.77,0.32
740,NIFTY BANK,05/01/2022,36943.55,37862.40,36756.35,37695.90,23.73,2.79,0.32
741,NIFTY BANK,04/01/2022,36551.25,36887.80,36374.40,36840.15,23.19,2.72,0.33
742,NIFTY BANK,03/01/2022,35585.20,36492.10,35526.60,36421.90,22.92,2.69,0.33

#NIFTY CONSUMER DURABLES

In [640]:
nifty_consumer_durables_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY CONSUMER DURABLES_Historical_PR_01012022to31122024.csv")

nifty_consumer_durables_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY CONSUMER DURABLES_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_consumer_durables = pd.merge(nifty_consumer_durables_1, nifty_consumer_durables_2, on = 'Date', how = 'left')

nifty_consumer_durables.drop('IndexName', axis=1, inplace=True)

from datetime import datetime

# Assuming your dataframe is called 'df' and the date column is named 'date_column'

nifty_consumer_durables['Date'] = pd.to_datetime(nifty_consumer_durables['Date'], format="%d %b %Y").dt.strftime("%d/%m/%Y")

In [642]:
nifty_consumer_durables

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY CONSUMER DURABLES,31/12/2024,41453.65,41940.15,41177.60,41805.80,87.48,13.26,0.34
1,NIFTY CONSUMER DURABLES,30/12/2024,41520.15,41814.00,41277.45,41635.05,86.67,12.99,0.35
2,NIFTY CONSUMER DURABLES,27/12/2024,41764.50,41988.85,41478.85,41534.85,86.46,12.96,0.35
3,NIFTY CONSUMER DURABLES,26/12/2024,41616.95,41779.10,41383.85,41708.80,86.82,13.01,0.35
4,NIFTY CONSUMER DURABLES,24/12/2024,41623.25,41951.10,41456.90,41525.90,86.44,12.96,0.35
...,...,...,...,...,...,...,...,...,...
738,NIFTY CONSUMER DURABLES,07/01/2022,29807.50,30134.85,29483.60,29601.15,74.13,15.21,0.34
739,NIFTY CONSUMER DURABLES,06/01/2022,29270.45,29714.35,29192.55,29672.15,74.31,15.25,0.34
740,NIFTY CONSUMER DURABLES,05/01/2022,29578.45,29702.15,29438.80,29527.95,73.95,15.18,0.34
741,NIFTY CONSUMER DURABLES,04/01/2022,29490.60,29633.50,29283.20,29587.00,74.09,15.21,0.34
742,NIFTY CONSUMER DURABLES,03/01/2022,29141.75,29483.20,29123.55,29439.20,73.72,15.13,0.34

In [532]:
nifty_financial_services_25_50_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/Historical Index Data/NIFTY FINANCIAL SERVICES 25_50_Historical_PR_01012015to31122024.csv")
nifty_financial_services_25_50_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/P:E, P:B & Dividend Ratio/NIFTY FINANCIAL SERVICES 25_50_Historical_PE_PB_DIV_Data_01012015to31122024.csv")

nifty_financial_services_25_50 = pd.merge(nifty_financial_services_25_50_1, nifty_financial_services_25_50_2, on = 'Date', how = 'inner')

nifty_financial_services_25_50.drop('IndexName', axis = 1, inplace = True)

from datetime import datetime

nifty_financial_services_25_50["Date"] = pd.to_datetime(nifty_financial_services_25_50["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

nifty_consumer_durables.replace('-', np.nan, inplace=True)

nifty_financial_services_25_50['Open'] = pd.to_numeric(nifty_financial_services_25_50['Open'], errors='coerce')
nifty_financial_services_25_50['High'] = pd.to_numeric(nifty_financial_services_25_50['High'], errors='coerce')
nifty_financial_services_25_50['Low'] = pd.to_numeric(nifty_financial_services_25_50['Low'], errors='coerce')
nifty_financial_services_25_50['P/E'] = pd.to_numeric(nifty_financial_services_25_50['P/E'], errors='coerce')
nifty_financial_services_25_50['P/B'] = pd.to_numeric(nifty_financial_services_25_50['P/B'], errors='coerce')

mean_value_open = nifty_financial_services_25_50['Open'].mean()
mean_value_high = nifty_financial_services_25_50['High'].mean()
mean_value_low = nifty_financial_services_25_50['Low'].mean()
mean_value_p_e = nifty_financial_services_25_50['P/E'].mean()
mean_value_p_b = nifty_financial_services_25_50['P/B'].mean()

nifty_financial_services_25_50['Open'].fillna(mean_value_open, inplace=True)
nifty_financial_services_25_50['High'].fillna(mean_value_high, inplace=True)
nifty_financial_services_25_50['Low'].fillna(mean_value_low, inplace=True)
nifty_financial_services_25_50['P/E'].fillna(mean_value_p_e, inplace=True)
nifty_financial_services_25_50['P/B'].fillna(mean_value_p_b, inplace=True)

/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_22691/188508686.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty_financial_services_25_50['Open'].fillna(mean_value_open, inplace=True)
/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_22691/188508686.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty_financial_services_25_50['High'].fillna(mean_value_high, inplace=True)
/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_22691/188508686.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty_financial_services_25_50['Low'].fillna(mean_value_low, inplace=True)
/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_22691/188508686.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty_financial_services_25_50['P/E'].fillna(mean_value_p_e, inplace=True)
/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_22691/188508686.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty_financial_services_25_50['P/B'].fillna(mean_value_p_b, inplace=True)

#NIFTY FINANCIAL SERVICES

In [644]:
nifty_financial_services_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY FINANCIAL SERVICES_Historical_PR_01012022to31122024.csv")
nifty_financial_services_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY FINANCIAL SERVICES_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_financial_services = pd.merge(nifty_financial_services_1, nifty_financial_services_2, on = "Date", how = "inner")

nifty_financial_services.drop("IndexName", axis = 1, inplace = True)

nifty_financial_services["Date"] = pd.to_datetime(nifty_financial_services["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [646]:
nifty_financial_services

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY FINANCIAL SERVICES,31/12/2024,23462.95,23564.70,23440.45,23512.80,16.30,2.84,0.91
1,NIFTY FINANCIAL SERVICES,30/12/2024,23757.10,24047.35,23497.20,23565.30,16.33,2.84,0.91
2,NIFTY FINANCIAL SERVICES,27/12/2024,23799.00,23929.30,23757.85,23788.00,16.48,2.86,0.90
3,NIFTY FINANCIAL SERVICES,26/12/2024,23809.10,23949.50,23623.90,23743.80,16.45,2.86,0.91
4,NIFTY FINANCIAL SERVICES,24/12/2024,23794.45,23833.75,23680.20,23737.60,16.45,2.86,0.91
...,...,...,...,...,...,...,...,...,...
738,NIFTY FINANCIAL SERVICES,07/01/2022,18215.15,18356.55,18070.85,18206.05,24.01,3.93,0.50
739,NIFTY FINANCIAL SERVICES,06/01/2022,18111.60,18284.75,18016.80,18174.80,23.97,3.92,0.51
740,NIFTY FINANCIAL SERVICES,05/01/2022,18027.60,18395.40,17973.50,18336.65,24.18,3.96,0.50
741,NIFTY FINANCIAL SERVICES,04/01/2022,17816.35,17994.35,17726.85,17972.95,23.70,3.88,0.51
742,NIFTY FINANCIAL SERVICES,03/01/2022,17377.95,17788.45,17371.35,17761.05,23.42,3.83,0.52

#NIFTY FMCG

In [648]:
nifty_fmcg_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY FMCG_Historical_PR_01012022to31122024.csv")
nifty_fmcg_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY FMCG_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_fmcg = pd.merge(nifty_fmcg_1, nifty_fmcg_2, on = "Date", how = "inner")

nifty_fmcg.drop("IndexName", axis = 1, inplace = True)

nifty_fmcg["Date"] = pd.to_datetime(nifty_fmcg["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [650]:
nifty_fmcg

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY FMCG,31/12/2024,56576.25,56845.80,56278.50,56799.65,46.36,11.25,1.82
1,NIFTY FMCG,30/12/2024,56545.25,56827.60,56278.70,56618.40,45.08,11.02,1.87
2,NIFTY FMCG,27/12/2024,56436.75,56615.80,56220.15,56444.25,44.95,10.99,1.88
3,NIFTY FMCG,26/12/2024,56517.40,56603.60,56139.00,56258.00,44.80,10.95,1.88
4,NIFTY FMCG,24/12/2024,56151.05,56586.45,56008.65,56439.30,44.94,10.99,1.88
...,...,...,...,...,...,...,...,...,...
738,NIFTY FMCG,07/01/2022,37649.20,37909.10,37644.70,37864.45,40.07,9.44,2.06
739,NIFTY FMCG,06/01/2022,37704.25,37786.25,37427.95,37622.50,39.81,9.38,2.07
740,NIFTY FMCG,05/01/2022,37798.70,37941.40,37690.70,37910.95,40.12,9.45,2.06
741,NIFTY FMCG,04/01/2022,37687.60,37842.65,37477.75,37800.35,40.00,9.42,2.06
742,NIFTY FMCG,03/01/2022,37673.25,37725.50,37559.75,37606.05,39.80,9.37,2.08

#NIFTY HEALTHCARE

In [652]:
nifty_healthcare_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY HEALTHCARE_Historical_PR_01012022to31122024.csv")
nifty_healthcare_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY HEALTHCARE_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_healthcare = pd.merge(nifty_healthcare_1, nifty_healthcare_2, on = "Date", how = "inner")

nifty_healthcare.drop("IndexName", axis = 1, inplace = True)

nifty_healthcare["Date"] = pd.to_datetime(nifty_healthcare["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [654]:
nifty_healthcare

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY HEALTHCARE,31/12/2024,14843.35,15023.50,14806.15,14951.70,42.41,6.35,0.50
1,NIFTY HEALTHCARE,30/12/2024,14689.25,14951.75,14669.05,14893.65,42.24,6.32,0.50
2,NIFTY HEALTHCARE,27/12/2024,14613.75,14741.00,14537.10,14699.85,41.69,6.24,0.50
3,NIFTY HEALTHCARE,26/12/2024,14490.40,14597.70,14402.85,14582.80,41.36,6.19,0.51
4,NIFTY HEALTHCARE,24/12/2024,14496.40,14556.25,14409.20,14469.60,41.04,6.14,0.51
...,...,...,...,...,...,...,...,...,...
738,NIFTY HEALTHCARE,07/01/2022,8787.65,8812.95,8732.85,8747.40,33.87,5.35,0.57
739,NIFTY HEALTHCARE,06/01/2022,8818.30,8868.55,8734.85,8765.20,33.94,5.36,0.57
740,NIFTY HEALTHCARE,05/01/2022,8879.45,8931.95,8804.25,8826.05,34.18,5.40,0.56
741,NIFTY HEALTHCARE,04/01/2022,8960.15,8975.80,8837.80,8853.60,34.28,5.42,0.56
742,NIFTY HEALTHCARE,03/01/2022,8989.10,9004.00,8923.60,8928.85,34.58,5.46,0.56

#NIFTY IT

In [656]:
nifty_it_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY IT_Historical_PR_01012022to31122024.csv")
nifty_it_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY IT_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_it = pd.merge(nifty_it_1, nifty_it_2, on = "Date", how = "inner")

nifty_it.drop("IndexName", axis = 1, inplace = True)

nifty_it["Date"] = pd.to_datetime(nifty_it["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [658]:
nifty_it

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY IT,31/12/2024,43622.40,43659.65,42574.45,43337.80,34.03,8.98,1.91
1,NIFTY IT,30/12/2024,43674.05,44175.50,43259.80,43971.40,34.81,9.05,1.85
2,NIFTY IT,27/12/2024,43707.00,43863.65,43546.05,43721.40,34.61,9.00,1.86
3,NIFTY IT,26/12/2024,43708.20,43851.00,43420.90,43664.25,34.56,8.99,1.86
4,NIFTY IT,24/12/2024,43897.00,44203.05,43262.10,43668.90,34.57,8.99,1.86
...,...,...,...,...,...,...,...,...,...
738,NIFTY IT,07/01/2022,38140.15,38394.80,38003.15,38139.85,38.34,11.76,1.36
739,NIFTY IT,06/01/2022,38181.35,38206.60,37757.20,38009.00,38.21,11.72,1.37
740,NIFTY IT,05/01/2022,39261.55,39293.15,38409.25,38609.15,38.82,11.90,1.35
741,NIFTY IT,04/01/2022,39243.50,39446.70,38828.60,39370.70,39.58,12.14,1.32
742,NIFTY IT,03/01/2022,38752.60,39286.35,38752.55,39123.80,39.33,12.06,1.33

#NIFTY MEDIA

In [660]:
nifty_media_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY MEDIA_Historical_PR_01012022to31122024.csv")
nifty_media_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY MEDIA_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_media = pd.merge(nifty_media_1, nifty_media_2, on = "Date", how = "inner")

nifty_media.drop("IndexName", axis = 1, inplace = True)

nifty_media["Date"] = pd.to_datetime(nifty_media["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [662]:
nifty_media

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY MEDIA,31/12/2024,1816.35,1823.25,1801.30,1817.85,-,1.41,0.64
1,NIFTY MEDIA,30/12/2024,1847.75,1853.85,1815.55,1819.05,-,1.41,0.64
2,NIFTY MEDIA,27/12/2024,1847.05,1861.15,1847.05,1853.75,-,1.44,0.63
3,NIFTY MEDIA,26/12/2024,1877.85,1883.60,1838.05,1846.75,-,1.43,0.63
4,NIFTY MEDIA,24/12/2024,1886.05,1893.90,1868.60,1874.15,-,1.45,0.62
...,...,...,...,...,...,...,...,...,...
738,NIFTY MEDIA,07/01/2022,2276.00,2280.90,2239.35,2243.10,722.50,3.39,0.55
739,NIFTY MEDIA,06/01/2022,2215.25,2269.25,2214.75,2261.80,728.53,3.41,0.55
740,NIFTY MEDIA,05/01/2022,2253.05,2254.95,2231.75,2241.45,721.96,3.38,0.56
741,NIFTY MEDIA,04/01/2022,2251.60,2279.50,2238.70,2251.40,725.18,3.40,0.55
742,NIFTY MEDIA,03/01/2022,2212.90,2258.70,2207.30,2251.20,725.12,3.40,0.55

#NIFTY METAL

In [664]:
nifty_metal_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY METAL_Historical_PR_01012022to31122024.csv")
nifty_metal_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY METAL_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_metal = pd.merge(nifty_metal_1, nifty_metal_2, on = "Date", how = "inner")

nifty_metal.drop("IndexName", axis = 1, inplace = True)

nifty_metal["Date"] = pd.to_datetime(nifty_metal["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [666]:
nifty_metal

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY METAL,31/12/2024,8590.70,8679.95,8573.35,8649.90,20.67,2.46,2.38
1,NIFTY METAL,30/12/2024,8720.85,8753.30,8584.00,8609.85,20.49,2.44,2.41
2,NIFTY METAL,27/12/2024,8820.50,8869.80,8707.65,8720.70,20.76,2.47,2.38
3,NIFTY METAL,26/12/2024,8835.90,8853.25,8757.75,8805.25,20.96,2.49,2.64
4,NIFTY METAL,24/12/2024,8875.30,8897.00,8786.80,8817.60,20.99,2.50,2.64
...,...,...,...,...,...,...,...,...,...
738,NIFTY METAL,07/01/2022,5677.00,5701.80,5627.85,5684.85,6.86,2.34,3.34
739,NIFTY METAL,06/01/2022,5667.10,5706.95,5626.20,5656.00,6.83,2.32,3.35
740,NIFTY METAL,05/01/2022,5600.60,5691.90,5583.25,5684.15,6.86,2.34,3.34
741,NIFTY METAL,04/01/2022,5663.80,5670.90,5559.90,5606.85,6.77,2.30,3.38
742,NIFTY METAL,03/01/2022,5529.95,5640.70,5526.15,5628.10,6.79,2.31,3.37

#NIFTY OIL & GAS

In [668]:
nifty_oil_gas_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY OIL & GAS_Historical_PR_01012022to31122024.csv")
nifty_oil_gas_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY OIL & GAS_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_oil_gas = pd.merge(nifty_oil_gas_1, nifty_oil_gas_2, on = "Date", how = "inner")

nifty_oil_gas.drop("IndexName", axis = 1, inplace = True)

nifty_oil_gas["Date"] = pd.to_datetime(nifty_oil_gas["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [670]:
nifty_oil_gas

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY OIL & GAS,31/12/2024,10613.00,10766.00,10601.30,10744.25,12.87,1.62,2.61
1,NIFTY OIL & GAS,30/12/2024,10657.20,10722.60,10591.80,10631.15,12.67,1.60,2.67
2,NIFTY OIL & GAS,27/12/2024,10762.05,10782.40,10671.50,10683.05,12.73,1.61,2.65
3,NIFTY OIL & GAS,26/12/2024,10773.25,10828.65,10720.05,10756.45,12.82,1.62,2.64
4,NIFTY OIL & GAS,24/12/2024,10699.20,10846.95,10691.15,10747.55,12.81,1.62,2.64
...,...,...,...,...,...,...,...,...,...
738,NIFTY OIL & GAS,07/01/2022,7642.70,7724.35,7637.55,7703.75,9.36,2.09,4.82
739,NIFTY OIL & GAS,06/01/2022,7601.85,7617.15,7533.60,7608.10,9.24,2.06,4.88
740,NIFTY OIL & GAS,05/01/2022,7530.70,7633.85,7521.65,7623.95,9.26,2.07,4.87
741,NIFTY OIL & GAS,04/01/2022,7466.30,7539.85,7452.00,7532.30,9.15,2.04,4.93
742,NIFTY OIL & GAS,03/01/2022,7327.75,7441.75,7327.75,7432.60,9.03,2.02,5.00

#NIFTY PHARMA

In [672]:
nifty_pharma_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY PHARMA_Historical_PR_01012022to31122024.csv")
nifty_pharma_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY PHARMA_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_pharma = pd.merge(nifty_pharma_1, nifty_pharma_2, on = "Date", how = "inner")

nifty_pharma.drop("IndexName", axis = 1, inplace = True)

nifty_pharma["Date"] = pd.to_datetime(nifty_pharma["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [674]:
nifty_pharma

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY PHARMA,31/12/2024,23191.35,23511.95,23152.05,23412.25,37.04,5.72,0.58
1,NIFTY PHARMA,30/12/2024,23037.20,23313.20,22980.80,23241.15,36.71,5.66,0.58
2,NIFTY PHARMA,27/12/2024,22756.30,23066.10,22691.05,23008.35,36.34,5.60,0.59
3,NIFTY PHARMA,26/12/2024,22571.40,22745.35,22451.20,22712.55,35.87,5.53,0.59
4,NIFTY PHARMA,24/12/2024,22603.10,22669.30,22470.40,22558.90,35.63,5.50,0.60
...,...,...,...,...,...,...,...,...,...
738,NIFTY PHARMA,07/01/2022,13949.90,13961.75,13841.95,13857.95,32.45,4.94,0.62
739,NIFTY PHARMA,06/01/2022,13988.50,14066.80,13878.30,13912.25,32.58,4.96,0.62
740,NIFTY PHARMA,05/01/2022,14090.30,14136.15,13968.95,13999.85,32.78,4.99,0.62
741,NIFTY PHARMA,04/01/2022,14207.05,14239.45,14017.55,14040.65,32.88,5.01,0.61
742,NIFTY PHARMA,03/01/2022,14247.65,14280.00,14148.05,14156.40,33.15,5.05,0.61

#NIFTY PRIVATE BANK

In [676]:
nifty_private_bank_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY PRIVATE BANK_Historical_PR_01012022to31122024.csv")
nifty_private_bank_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY PRIVATE BANK_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_private_bank = pd.merge(nifty_private_bank_1, nifty_private_bank_2, on = "Date", how = "inner")

nifty_private_bank.drop("IndexName", axis = 1, inplace = True)

nifty_private_bank["Date"] = pd.to_datetime(nifty_private_bank["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [678]:
nifty_private_bank

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY PRIVATE BANK,31/12/2024,24612.00,24828.05,24599.80,24780.00,14.62,2.25,0.59
1,NIFTY PRIVATE BANK,30/12/2024,24897.65,25279.60,24647.25,24761.60,14.83,2.29,0.60
2,NIFTY PRIVATE BANK,27/12/2024,24847.35,25059.45,24843.40,24919.05,14.92,2.31,0.60
3,NIFTY PRIVATE BANK,26/12/2024,24936.55,25086.55,24712.85,24798.40,14.85,2.30,0.60
4,NIFTY PRIVATE BANK,24/12/2024,24812.05,24877.80,24749.05,24838.85,14.87,2.30,0.60
...,...,...,...,...,...,...,...,...,...
738,NIFTY PRIVATE BANK,07/01/2022,19092.25,19317.55,18953.35,19113.55,26.29,2.72,0.28
739,NIFTY PRIVATE BANK,06/01/2022,18855.75,19123.10,18743.95,18998.00,26.13,2.71,0.28
740,NIFTY PRIVATE BANK,05/01/2022,18729.40,19153.10,18629.25,19078.50,26.24,2.72,0.28
741,NIFTY PRIVATE BANK,04/01/2022,18604.90,18720.95,18481.15,18682.20,25.69,2.66,0.29
742,NIFTY PRIVATE BANK,03/01/2022,18090.15,18567.40,18044.60,18531.85,25.49,2.64,0.29

#NIFTY PSU BANK

In [680]:
nifty_psu_bank_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY PSU BANK_Historical_PR_01012022to31122024.csv")
nifty_psu_bank_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY PSU BANK_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_psu_bank = pd.merge(nifty_psu_bank_1, nifty_psu_bank_2, on = "Date", how = "inner")

nifty_psu_bank.drop("IndexName", axis = 1, inplace = True)

nifty_psu_bank["Date"] = pd.to_datetime(nifty_psu_bank["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [684]:
nifty_psu_bank

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY PSU BANK,31/12/2024,6472.90,6548.50,6470.35,6540.70,7.44,1.27,2.25
1,NIFTY PSU BANK,30/12/2024,6573.75,6647.25,6470.05,6493.25,7.35,1.26,2.29
2,NIFTY PSU BANK,27/12/2024,6639.50,6665.00,6562.65,6570.90,7.44,1.27,2.26
3,NIFTY PSU BANK,26/12/2024,6614.05,6710.35,6606.20,6630.15,7.50,1.29,2.24
4,NIFTY PSU BANK,24/12/2024,6653.45,6669.55,6581.35,6609.55,7.48,1.28,2.25
...,...,...,...,...,...,...,...,...,...
738,NIFTY PSU BANK,07/01/2022,2681.55,2716.60,2656.40,2673.55,10.63,0.79,0.31
739,NIFTY PSU BANK,06/01/2022,2627.25,2686.90,2621.05,2671.05,10.62,0.79,0.31
740,NIFTY PSU BANK,05/01/2022,2611.35,2667.75,2602.75,2658.35,10.57,0.78,0.31
741,NIFTY PSU BANK,04/01/2022,2595.30,2631.15,2584.20,2616.75,10.41,0.77,0.32
742,NIFTY PSU BANK,03/01/2022,2530.85,2589.65,2526.35,2584.70,10.28,0.76,0.32

#NIFTY REALTY

In [686]:
nifty_realty_1 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year Historical Index Data/NIFTY REALTY_Historical_PR_01012022to31122024.csv")
nifty_realty_2 = pd.read_csv("/Users/neerajsmacbook/Downloads/Data Visualization Project/Indices Data (OHLC)/5 Year P:E, P:B & Dividend Ratio/NIFTY REALTY_Historical_PE_PB_DIV_Data_01012022to31122024.csv")

nifty_realty = pd.merge(nifty_realty_1, nifty_realty_2, on = "Date", how = "inner")

nifty_realty.drop("IndexName", axis = 1, inplace = True)

nifty_realty["Date"] = pd.to_datetime(nifty_realty["Date"], format = "%d %b %Y").dt.strftime("%d/%m/%Y")

In [688]:
nifty_realty

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY REALTY,31/12/2024,1048.30,1054.55,1040.75,1052.35,54.42,6.01,0.36
1,NIFTY REALTY,30/12/2024,1068.65,1078.90,1046.25,1054.85,53.64,5.91,0.36
2,NIFTY REALTY,27/12/2024,1076.95,1081.95,1069.55,1071.35,54.47,6.00,0.35
3,NIFTY REALTY,26/12/2024,1073.25,1080.00,1060.00,1077.25,54.78,6.04,0.35
4,NIFTY REALTY,24/12/2024,1078.75,1086.90,1065.45,1074.75,54.65,6.02,0.35
...,...,...,...,...,...,...,...,...,...
738,NIFTY REALTY,07/01/2022,488.75,492.00,482.00,485.80,61.87,3.92,0.19
739,NIFTY REALTY,06/01/2022,490.95,490.95,480.95,485.65,61.85,3.92,0.19
740,NIFTY REALTY,05/01/2022,487.85,494.55,483.85,492.90,62.77,3.98,0.19
741,NIFTY REALTY,04/01/2022,492.35,493.50,484.25,487.05,62.02,3.93,0.19
742,NIFTY REALTY,03/01/2022,486.10,495.25,486.10,489.65,62.36,3.95,0.19

In [699]:
data_concat = pd.concat([nifty_50,nifty_auto,nifty_bank,nifty_consumer_durables,nifty_financial_services,nifty_fmcg,nifty_healthcare,nifty_it,nifty_media,nifty_metal,nifty_oil_gas,nifty_pharma,nifty_private_bank,nifty_psu_bank,nifty_realty])

In [701]:
data_concat

,Index Name,Date,Open,High,Low,Close,P/E,P/B,Div Yield %
0,NIFTY 50,31/12/2024,23560.60,23689.85,23460.45,23644.80,21.79,3.53,1.27
1,NIFTY 50,30/12/2024,23796.90,23915.35,23599.30,23644.90,21.76,3.52,1.28
2,NIFTY 50,27/12/2024,23801.40,23938.85,23800.60,23813.40,21.92,3.55,1.27
3,NIFTY 50,26/12/2024,23775.80,23854.50,23653.60,23750.20,21.86,3.54,1.27
4,NIFTY 50,24/12/2024,23769.10,23867.65,23685.15,23727.65,21.84,3.54,1.27
...,...,...,...,...,...,...,...,...,...
738,NIFTY REALTY,07/01/2022,488.75,492.00,482.00,485.80,61.87,3.92,0.19
739,NIFTY REALTY,06/01/2022,490.95,490.95,480.95,485.65,61.85,3.92,0.19
740,NIFTY REALTY,05/01/2022,487.85,494.55,483.85,492.90,62.77,3.98,0.19
741,NIFTY REALTY,04/01/2022,492.35,493.50,484.25,487.05,62.02,3.93,0.19
742,NIFTY REALTY,03/01/2022,486.10,495.25,486.10,489.65,62.36,3.95,0.19

In [703]:
data_concat.to_csv('indices_combined.csv')